Repository QGIS-Contribution/QGIS-ResourceSharing, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation

.github/labeler.yml:

ci-cd:
  - changed-files:
      - any-glob-to-any-file: .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - requirements/documentation.txt

enhancement:
  - head-branch: ["^feature", "feature", "^improve", "improve"]

packaging:
  - head-branch: ["^packaging", "packaging"]

tooling:
  - head-branch: ["^tooling", "tooling"]
  - changed-files:
      - any-glob-to-any-file:
          - codecov.yml
          - .pre-commit-config.yaml
          - sonar-project.properties

UI:
  - head-branch: ["^ui", "ui"]
  - changed-files:
      - any-glob-to-any-file:
          - qgis_resource_sharing/**/*.ui
          - qgis_resource_sharing/gui/**

chore(deps): replace semver with packaging
  requirements/testing.txt
  tests/unit/test_plg_metadata.py
Labels: dependencies

refacto: use plugin title from metadata to name the logger
  qgis_resource_sharing/collection_manager.py
  qgis_resource_sharing/gui/resource_sharing_dialog.py
  qgis_resource_sharing/network_manager.py
  qgis_resource_sharing/repository_handler/base.py
  qgis_resource_sharing/repository_handler/filesystem_handler.py
  qgis_resource_sharing/repository_handler/remote_git_handler.py
  qgis_resource_sharing/repository_handler/remote_zip_handler.py
  qgis_resource_sharing/repository_manager.py
  qgis_resource_sharing/resource_handler/checklist_handler.py
  qgis_resource_sharing/resource_handler/expression_handler.py
  qgis_resource_sharing/resource_handler/model_handler.py
  qgis_resource_sharing/resource_handler/processing_handler.py
  qgis_resource_sharing/resource_handler/r_handler.py
  qgis_resource_sharing/resource_handler/style_handler.py
  qgis_resource_sharing/resource_handler/svg_handler.py
  qgis_resource_sharing/resource_handler/symbol_handler.py
  qgis_resource_sharing/resource_handler/symbol_resolver_mixin.py
  qgis_resource_sharing/symbol_xml_extractor.py
  qgis_resource_sharing/utilities.py
Labels: none

improve(ui): complete i18n and add some icons
  qgis_resource_sharing/collection_manager.py
  qgis_resource_sharing/custom_logging.py
  qgis_resource_sharing/gui/resource_sharing_dialog.py
  qgis_resource_sharing/gui/ui/resource_sharing_dialog_base.ui
  qgis_resource_sharing/plugin.py
  qgis_resource_sharing/resources/i18n/qgis_resource_sharing_fr.ts
Labels: none

tooling(ide): disable auto f-string since Qt Linguist does not support it
  .vscode/settings.json
Labels: none

update(packaging): set QGIS maximum version since OSGeo4W broke LTR Python version
  qgis_resource_sharing/metadata.txt
Labels: none

improve(tests): check QGIS versions
  tests/unit/test_plg_metadata.py
Labels: none

release: bump version to 1.1.0
  CHANGELOG.md
  qgis_resource_sharing/metadata.txt
Labels: none

fix(ci): fix translation build
  .github/workflows/build_release.yml
Labels: ci-cd

fix(ci): store translation deps in requirements/translation.txt
  .github/workflows/build_release.yml
  requirements/base.txt
  requirements/translation.txt
Labels: ci-cd, dependencies

fix(ci): replace unmaintained action to publish release
  .github/workflows/build_release.yml
Labels: ci-cd

release: bump version to 1.1.0
  CHANGELOG.md
Labels: none

packaging: disable experimental status
  qgis_resource_sharing/metadata.txt
Labels: none

update(ci): use Python 3.12 to fit QGIS shipped version
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/linter.yml
  .github/workflows/tester.yml
Labels: ci-cd

packaging: set QGIS minimum version to follow broken Python version in QGIS LTR
  qgis_resource_sharing/metadata.txt
Labels: none

Fix: documentation
  docs/index.md
Labels: documentation

Fix: metadata
  qgis_resource_sharing/metadata.txt
Labels: none

resource_sharing_dialog: Replace description webview logic by a label
  qgis_resource_sharing/gui/resource_sharing_dialog.py
  qgis_resource_sharing/gui/ui/resource_sharing_dialog_base.ui
  qgis_resource_sharing/resources/template/tab_description.html
Labels: none

resource_sharing_dialog: Add typing to show_collection_metadata
  qgis_resource_sharing/gui/resource_sharing_dialog.py
Labels: none

Introduce QgsResourceSharingDetails to display a collection
  qgis_resource_sharing/collection_manager.py
  qgis_resource_sharing/gui/resource_sharing_details.py
  qgis_resource_sharing/gui/resource_sharing_dialog.py
  qgis_resource_sharing/gui/ui/resource_sharing_details_base.ui
  qgis_resource_sharing/gui/ui/resource_sharing_dialog_base.ui
Labels: none

collection_manager: Merge get_resource_status and get_collection
  qgis_resource_sharing/collection_manager.py
Labels: none

collection_manager: Remove unused method get_html
  qgis_resource_sharing/collection_manager.py
  qgis_resource_sharing/resources/template/collection_details.html
Labels: none

resources: Remove unused css and js resources
  qgis_resource_sharing/resources/bootstrap/css/bootstrap.min.css
  qgis_resource_sharing/resources/bootstrap/fonts/glyphicons-halflings-regular.eot
  qgis_resource_sharing/resources/bootstrap/fonts/glyphicons-halflings-regular.svg
  qgis_resource_sharing/resources/bootstrap/fonts/glyphicons-halflings-regular.ttf
  qgis_resource_sharing/resources/bootstrap/fonts/glyphicons-halflings-regular.woff
  qgis_resource_sharing/resources/bootstrap/js/bootstrap.min.js
  qgis_resource_sharing/resources/js/jquery.js
Labels: none

utilities: Remove unused function render_template
  qgis_resource_sharing/utilities.py
Labels: none

config: Use an enum to describe a collection status
  qgis_resource_sharing/collection_manager.py
  qgis_resource_sharing/config.py
  qgis_resource_sharing/gui/custom_sort_filter_proxy.py
  qgis_resource_sharing/gui/resource_sharing_details.py
  qgis_resource_sharing/gui/resource_sharing_dialog.py
  qgis_resource_sharing/repository_handler/base.py
  qgis_resource_sharing/repository_manager.py
Labels: none

update(ci): use Python 3.12 to fit QGIS shipped version
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/linter.yml
  .github/workflows/tester.yml
Labels: ci-cd

packaging: set QGIS minimum version to follow broken Python version in QGIS LTR
  qgis_resource_sharing/metadata.txt
Labels: none

release: bump version to 1.1.1
  CHANGELOG.md
  qgis_resource_sharing/metadata.txt
Labels: none

fix(deps): comply with strict rules of pip markers
  requirements/documentation.txt
Labels: dependencies, documentation

fix(tooling): qgis-plugin-ci fails because of wrong project_slug
  setup.cfg
Labels: none

update(docs): complete changelog
  CHANGELOG.md
Labels: none

update(ci): rm reference to set-output
  .github/workflows/build_release.yml
Labels: ci-cd

update(ci): use Python 3.12 to fit QGIS shipped version
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/linter.yml
  .github/workflows/tester.yml
Labels: ci-cd

update(tooling): use Python 3.12 as minimal version
  .pre-commit-config.yaml
Labels: none

update(ci): use Python 3.11 only for translation job since pyqt5-tools is not already available for 3.12
  .github/workflows/build_release.yml
Labels: ci-cd

update(packaging): bump minimal QGIS version to 3.34.6 to adapt plugin to rough change of shipped Python version in QGIS LTR
  qgis_resource_sharing/metadata.txt
Labels: none

update(metadata): add Oslandia section to credit funder of 2024 enhancement
  qgis_resource_sharing/metadata.txt
Labels: none

release: bump version to 1.2.0
  CHANGELOG.md
  qgis_resource_sharing/metadata.txt
Labels: none

metadata: Fix a typo in author
  qgis_resource_sharing/metadata.txt
Labels: none

Fix typo: collection -> collections
  docs/authoring/creating-metadata.md
Labels: documentation

enhancement: QGIS 4 compatibility
  qgis_resource_sharing/gui/custom_sort_filter_proxy.py
  qgis_resource_sharing/gui/manage_dialog.py
  qgis_resource_sharing/gui/resource_sharing_dialog.py
  qgis_resource_sharing/metadata.txt
  qgis_resource_sharing/network_manager.py
  qgis_resource_sharing/plugin.py
Labels: none
