Repository QGIS-Contribution/QGIS-ResourceSharing, pull requests merged in 2025-01, with the labels that each got.

#325 Replace QWebViews by native Qt widgets
  qgis_resource_sharing/collection_manager.py
  qgis_resource_sharing/config.py
  qgis_resource_sharing/gui/custom_sort_filter_proxy.py
  qgis_resource_sharing/gui/resource_sharing_details.py
  qgis_resource_sharing/gui/resource_sharing_dialog.py
  qgis_resource_sharing/gui/ui/resource_sharing_details_base.ui
  qgis_resource_sharing/gui/ui/resource_sharing_dialog_base.ui
  qgis_resource_sharing/repository_handler/base.py
  qgis_resource_sharing/repository_manager.py
  qgis_resource_sharing/resources/bootstrap/css/bootstrap.min.css
  qgis_resource_sharing/resources/bootstrap/fonts/glyphicons-halflings-regular.eot
  qgis_resource_sharing/resources/bootstrap/fonts/glyphicons-halflings-regular.svg
  qgis_resource_sharing/resources/bootstrap/fonts/glyphicons-halflings-regular.ttf
  qgis_resource_sharing/resources/bootstrap/fonts/glyphicons-halflings-regular.woff
  qgis_resource_sharing/resources/bootstrap/js/bootstrap.min.js
  qgis_resource_sharing/resources/js/jquery.js
  qgis_resource_sharing/resources/template/collection_details.html
  qgis_resource_sharing/resources/template/tab_description.html
  qgis_resource_sharing/utilities.py
Labels: UI

#350 fix(deps): comply with strict rules of pip markers
  requirements/documentation.txt
Labels: documentation, dependencies

#351 update(ci): rm reference to set-output
  .github/workflows/build_release.yml
Labels: ci-cd

#339 update(ci): use Python 3.12 to fit QGIS shipped version
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/linter.yml
  .github/workflows/tester.yml
  .pre-commit-config.yaml
Labels: ci-cd, tooling, packaging

#353 update(packaging): bump minimal QGIS version to 3.34.6
  qgis_resource_sharing/metadata.txt
Labels: packaging
